#title{
    font: 100;
    color:rgb(248, 35, 35);
}

.set {
    margin: 10% auto;
}
.drum{
    outline: none;
    border: 10px;
    font-size: 5rem;
    font-family: 'Arvo',cursive;
    line-height: 2;
    font-weight: 900;
    color: rgb(116, 17, 17);
    text-shadow: 3px 0 #0c93bf;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 100px;
}

footer{
    font-size: medium;
    font-style: inherit;
    border-spacing: 5px;
    color: rgb(251, 167, 50);
}